 <form action="#" onSubmit="soundcloud();">
    <p><input type="text" id="search" placeholder="Type something to find..." class="form-control" /></p>
    <p><input type="submit" value="Search" class="form-control btn btn-primary w100"></p>
</form>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="youtube" > </div>
  <div role="tabpanel" class="tab-pane" id="soundcloud"> </div>
</div>


